[Unit]
Description=Trident-Server

[Service]
TimeoutStartSec=0
ExecStart=/usr/local/bin/trident-server -c /root/proxy/.trident-server.json
Restart=always

[Install]
WantedBy=multi-user.target
